<%= form_for @inventory_addition, :html => { :class => 'form-horizontal' } do |f| %>
    Product <%= f.select :product_id, options_for_select(@products.map{|d| [d.name, d.id]}),{ :selected => "Select Product" }, :class => 'text_field' %>
    Addition Date <%= f.text_field :addition_date, :class => 'datetime_select' %>
    Quantity <%= f.text_field :quantity, :class => 'number_field' %>

    <div class="form-actions">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")), inventory_additions_path, :class => 'btn' %>
    </div>
<% end %>
