<%- model_class = Inventory -%>
<div class="page-header">
    <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
<dt><strong>Product:</strong></dt>
    <dd><%= @inventory.product.name %></dd>
    <dt><strong><%= model_class.human_attribute_name(:quantity) %>:</strong></dt>
    <dd><%= @inventory.quantity %></dd>
</dl>

<div class="form-actions">
    <%= link_to t('.back', :default => t("helpers.links.back")), inventories_path, :class => 'btn'  %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_inventory_path(@inventory), :class => 'btn' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")), inventory_path(@inventory), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger' %>
</div>

<h4 class="show-header">Inventory added</h4>
<hr>

<table class="table table-striped">
    <thead>
        <tr>
            <th>id</th>
            <th>addition_date</th>
            <th>quantity</th>
        </tr>
    </thead>
    <tbody>
        <% @inventory_additions.each do |inventory_addition| %>
            <tr>
                <td><%= link_to inventory_addition.id, inventory_addition_path(inventory_addition) %></td>
                <td><%= inventory_addition.addition_date.strftime('%l:%M%p %d-%h') %></td>
                <td><%= inventory_addition.quantity %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<h4 class="show-header">Inventory taken out</h4>
<hr>

<table class="table table-striped">
    <thead>
        <tr>
            <th>id</th>
            <th>Shipping date</th>
            <th>quantity</th>
        </tr>
    </thead>
    <tbody>
        <% @inventory_removal.each do |inventory_removal| %>
            <tr>
                <td><%= link_to inventory_removal.id, inventory_addition_path(inventory_addition) %></td>
                <td><%= inventory_removal.addition_date.strftime('%l:%M%p %d-%h') %></td>
                <td><%= inventory_removal.quantity %></td>
            </tr>
        <% end %>
    </tbody>
</table>
<hr>
