<%= stylesheet_link_tag "pagination.css" %>
<%- model_class = Target -%>
<div class="page-header">
    <h1>Individual Targets</h1>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Sr.No</th>
            <th>Executive name</th>
            <th>Executive type</th>
            <th>Target Amount</th>
            <th>Target Achived</th>
            <th>Target Month </th>
            <th>Target Year </th>
            <th>Actions </th>
        </tr>
    </thead>
    <tbody>
        <% if current_user.account_type != 3 %>
            <% render :partial => 'shared/i_calculation' %>
            <% @targets_by_months.each do |target| %>
                <tr>

                    <td><%= link_to @i = @i+1, target_path(target) %></td>
                    <td><%= target.full_name %></td>
                    <td><%= target.targetable_type %></td>
                    <td><%= target.amount %> Rs</td>
                    <td><%= target.achived %> Rs</td>
                    <% if target.target_month == 1 %>
                          <th>January</th>
                      <% elsif target.target_month == 2 %>
                          <th>February</th>
                      <% elsif target.target_month == 3 %>
                          <th>March</th>
                      <% elsif target.target_month == 4 %>
                          <th>April</th>
                      <% elsif target.target_month == 5 %>
                          <th>May</th>
                      <% elsif target.target_month == 6 %>
                          <th>June</th>
                      <% elsif target.target_month == 7 %>
                          <th>July</th>
                      <% elsif target.target_month == 8 %>
                          <th>August</th>
                      <% elsif target.target_month == 9 %>
                          <th>September</th>
                      <% elsif target.target_month == 10 %>
                          <th>October</th>
                      <% elsif target.target_month == 11 %>
                          <th>November</th>
                      <% elsif target.target_month == 12 %>
                          <th>December</th>
                      <% end %>
                      <td><%= target.target_year %></td>
                    <td>
                        <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_target_path(target), :class => 'btn btn-mini' %>
                        <%= link_to t('.destroy', :default => t("helpers.links.destroy")), target_path(target), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger' %>
                    </td>
                <% end %>
            </tr>
        <% else %>
            <tr>

                <td><%= link_to '1', target_path(@targets_by_months) %></td>
                <td><%= @targets_by_months.full_name %></td>
                <td><%= @targets_by_months.targetable_type %></td>
                <td><%= @targets_by_months.amount %> Rs</td>
                <td><%= @targets_by_months.achived %> Rs</td>
                <td><%= @targets_by_months.target_month %></td>
                <td><%= @targets_by_months.target_year %></td>
                <td>
                    <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_target_path(@targets_by_months), :class => 'btn btn-mini' %>
                    <%= link_to t('.destroy', :default => t("helpers.links.destroy")), target_path(@targets_by_months), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger' %>
                </td>
            <% end %>

        </tbody>
    </table>

    <%= link_to t('.new', :default => t("helpers.links.new")),
        new_target_path,
        :class => 'btn btn-primary' %>
