<div class="page-header">
  <h1>Previous Targets</h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Sr.No</th>
    <th>Executive name</th>
    <th>Executive type</th>
    <th>Target Amount</th>
    <th>Target Achived</th>
    <th>Target Month </th>
    <th>Target Year </th>
  </tr>
  </thead>
  <tbody>
  <% @targets.each_with_index do |target, i| %>
      <tr>

        <td><%= link_to i, target_path(target) %></td>
        <td><%= target.full_name %></td>
        <td><%= target.targetable_type %></td>
        <td><%= target.amount %> Rs</td>
        <td><%= target.achived %> Rs</td>
        <% if target.target_month == 1 %>
            <th>January</th>
        <% elsif target.target_month == 2 %>
            <th>February</th>
        <% elsif target.target_month == 3 %>
            <th>March</th>
        <% elsif target.target_month == 4 %>
            <th>April</th>
        <% elsif target.target_month == 5 %>
            <th>May</th>
        <% elsif target.target_month == 6 %>
            <th>June</th>
        <% elsif target.target_month == 7 %>
            <th>July</th>
        <% elsif target.target_month == 8 %>
            <th>August</th>
        <% elsif target.target_month == 9 %>
            <th>September</th>
        <% elsif target.target_month == 10 %>
            <th>October</th>
        <% elsif target.target_month == 11 %>
            <th>November</th>
        <% elsif target.target_month == 12 %>
            <th>December</th>
        <% end %>
        <td><%= target.target_year %></td>
      </tr>
  <% end %>
</tbody>
</table>
