<%= form_for @follow_up, :html => { :class => 'form-horizontal' } do |f| %>
    <%= f.hidden_field :lead_id, :value => params[:id1], :class => 'number_field' %>
    <div class="control-group">
        <%= f.label :description, :class => 'control-label' %>
        <div class="controls">
            <%= f.text_area :description, :rows => 3, :class => 'text_field' %>
        </div>
    </div>
    <div class="control-group">
        <%= f.label :follow_up_time, :class => 'control-label' %>
        <div class="controls">
            <%= f.text_field :follow_up_time, :class => 'datetime_select' %>
        </div>
    </div>

    <div class="form-actions">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")), follow_ups_path, :class => 'btn' %>
    </div>
<% end %>
