

<div id='calendar' style="margin-top: 60px"></div>
<%= javascript_include_tag 'jquery-ui-1.10.2.custom.min' %>
<%= javascript_include_tag 'fullcalendar.min' %>
<%= javascript_include_tag 'gcal' %>
<%= javascript_include_tag 'jquery.rest' %>
<%#= javascript_include_tag 'jquery-ui-1.10.2.custom.min.js' %>
<%= stylesheet_link_tag 'fullcalendar.css' %>
<%= javascript_include_tag 'calendar.js' %>


<script>
      $(document).ready(function() {
$('.fc-header-left').append('<span class="fc-button fc-button-month fc-state-default fc-corner-left fc-state-active"><span class="fc-button-inner"><span class="fc-button-content"><a style="color: white; text-decoration: none;" href="/notifications/new">New notifications</a></span></span></span>')
$('.fc-header-left').append('<span class="fc-button fc-button-month fc-state-default fc-corner-left fc-state-active"><span class="fc-button-inner"><span class="fc-button-content"><a style="color: white; text-decoration: none;" href="/events/new">New task</a></span></span></span>')
});
</script>
