<%- model_class = Notification -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<div class="control-group">
  <div class="controls">
    Search: <%= text_field_tag :title,"", :class => 'search-c' %>

    <div class="new-top">
    <%= link_to "New", new_notification_path, :class => 'btn btn-primary' %>
    </div>
    <div class="notification-btn">
      <%= link_to "Old Notification", {:controller=>"notifications", :action=>"index", :type=>"old"}, :class => 'btn btn-primary' %>
      <%= link_to "Current Notification", {:controller=>"notifications", :action=>"index", :type=>"current"}, :class => 'btn btn-primary' %>
      <%= link_to "Future Notification", {:controller=>"notifications", :action=>"index", :type=>"future"}, :class => 'btn btn-primary' %>
    </div>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Sr.No</th>
      <th>Contact ID</th>
      <th>Subject</th>
      <th>Body</th>
      <th>Notification Time</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody id="search-data">
  <% unless @notifications.nil? %>
  <% @i = 0 %>
  <% @notifications.each do |notification| %>
      <tr>
        <td><%= @i = @i+1 %></td>
        <td><%= Contact.where(:id => notification.contact_id).first.full_name %></td>
        <td><%= notification.subject %></td>
        <td><%= notification.body %></td>
        <td><%= notification.notification_time.strftime('%l:%M%P  %d-%b-%Y') %></td>
        <td>
            <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_notification_path(notification), :class => 'btn btn-mini' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")), notification_path(notification), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger' %>
        </td>
    </tr>
<% end %>
      </tbody>
  </table>
    <div class="flickr_pagination">
      <div class="page_info">
        <%#= page_entries_info @notifications %>
      </div>
      <%#= will_paginate @notifications, :container => false %>
    </div>

<% end %>
