<%= stylesheet_link_tag "pagination.css" %>
<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<div class="control-group">
  <div class="controls">
    Search: <%= text_field_tag :title,"", :class => 'search-c' %>
    <div class="new-top">
      <%= link_to "New", new_user_path, :class => 'btn btn-primary' %>
    </div>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Address</th>
      <th>User type</th>
      <th>Email</th>
      <th>Mobile Number</th>

      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
  <% render :partial => 'shared/i_calculation' %>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to @i = @i+1, user_path(user) %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.address %></td>
        <% if user.account_type == 2 %>
            <td>Team Leader</td>
        <% elsif user.account_type == 3 %>
            <td>Sales executive</td>
        <% else %>
            <td>Admin</td>
        <% end %>
        <td><%= user.email %></td>
        <td><%= user.mobile_no %></td>

        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
            edit_user_path(user), :class => 'btn btn-mini' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              user_path(user),
              :method => :delete,
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-mini btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>



<div class="flickr_pagination">
  <div class="page_info">
    <%= page_entries_info @users %>
  </div>
  <%= will_paginate @users, :container => false %>
</div>


