<div class="page-header">
  <h1>Users</h1>
</div>

<div class="control-group">
  <div class="controls">
    Search: <%= text_field_tag :title,"", :class => 'search-c' %>
    <div class="new-top">
      <%= link_to "New", new_user_path, :class => 'btn btn-primary' %>
    </div>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Address</th>
      <th>User type</th>
      <% if current_user.account_type == 4 %>
          <th>Company</th>
      <% end %>
      <th>Email</th>
      <th>Mobile Number</th>

      <th><%=t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
      <% @users.each do |user| %>
          <tr>
              <td><%= user.first_name %></td>
              <td><%= user.last_name %></td>
              <td><%= user.address %></td>
              <% if user.account_type == 2 %>
                  <td>Team Leader</td>
              <% elsif user.account_type == 3 %>
                  <td>Sales executive</td>
              <% else %>
                  <td>Admin</td>
              <% end %>
              <% if current_user.account_type == 4 %>
                  <td><%= user.company.company_name %></td>
              <% end %>
              <td><%= user.email %></td>
              <td><%= user.mobile_no %></td>

              <td>
                  <%= link_to 'Edit',
                      edit_user_path(user), :class => 'btn btn-mini' %>
                      <%= link_to 'Destroy',
                          user_path(user),
                          :method => :delete,
                          :data => { :confirm => 'Are you sure?'},
                          :class => 'btn btn-mini btn-danger' %>
                      </td>
                  </tr>
              <% end %>
          </tbody>
      </table>
