<%- model_class = User -%>
<div class="page-header">
    <h1><%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human, :default => "New #{model_class.model_name.human}") %></h1>
</div>

<%= form_for @user,:url => users_path, :html => { :multipart => true, :class => 'form-horizontal' } do |f| %>

    <div class="control-group">
      <%= f.label :first_name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :first_name,  :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :last_name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :last_name,  :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :address, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :address,  :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :mobile_no, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :mobile_no,  :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :email, :class => 'control-label' %>
      <div class="controls">
        <%= f.email_field :email,  :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :password, :class => 'control-label' %>
      <div class="controls">
        <%= f.password_field :password,  :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :password_confirmation, :class => 'control-label' %>
      <div class="controls">
        <%= f.password_field :password_confirmation,  :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :avatar, :class => 'control-label' %>
      <div class="controls">
        <%= f.file_field :avatar,  :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :account_type, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :account_type, [["Select Account Type", 0], ["Admin", 1], ["Team Leader", 2], ["Sales Executive", 3]],{ :selected => 0, :disabled => 0 }, :class => 'account_type' %>
      </div>
    </div>

    <% permitted_to? :index, :companies do %>
        <div class="control-group">
          <%= f.label :company_id, :class => 'control-label' %>
          <div class="controls">
            <%= f.select :company_id, options_for_select(@companies.map {|c|[c.company_name, c.id]}), :class => 'account_type' %>
          </div>
        </div>
    <% end %>

    <div class="hide">
      <div class="control-group">
        <%= f.label :team_leader_id, :class => 'control-label' %>
        <div class="controls">
          <%= f.select :team_leader_id, options_for_select(@team_leaders.map{|team_leader| ["#{team_leader.first_name} #{team_leader.last_name}", team_leader.id]}), { :selected => "Select Team Leader" }, :class => 'text_field' %>
        </div>
      </div>
    </div>

    <div class="form-actions">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")), users_path, :class => 'btn' %>
    </div>
<% end %>
