<div class="breadcrumbs">
    <ul>
        <li>
        <%= link_to "Home", :root %>
        <i class="icon-angle-right"></i>
        </li>
        <li>
        <%= link_to "#{controller_name}", controller_name %>
        <i class="icon-angle-right"></i>
        </li>
        <li>
        <%= link_to "#{action_name}", controller_name %>
        <i class="icon-angle-right"></i>
        </li>
    </ul>
</div>
<div class="row">
    <div class="span12">
        <%= bootstrap_flash %>
        <%= yield %>
    </div>
</div>
