<% permitted_to? :index, :activities do %>
    <% if controller_name == "activities" %>
        <li class='active'>
        <%= link_to(:activities) do %>
            <span>Activities</span>
        <% end %>
        </li>
    <% else%>
        <li>
        <%= link_to(:activities) do %>
            <span>Activities</span>
        <% end %>
        </li>
    <% end %>
<% end %>

<% if controller_name == "leads" %>
    <li class='active'>
    <% if current_user.account_type == 2 %>
        <%= link_to("/leads/index/#{current_user.team_leader_id}") do %>
            <span>Leads</span>
        <% end %>
    <% else %>
        <%= link_to(:leads) do %>
            <span>Leads</span>
        <% end %>
    <% end %>
    </li>
<% else%>
    <li>
    <% if current_user.account_type == 2 %>
        <%= link_to("/leads/index/#{current_user.team_leader_id}") do %>
            <span>Leads</span>
        <% end %>
    <% else %>
        <%= link_to(:leads) do %>
            <span>Leads</span>
        <% end %>
    <% end %>
    </li>
<% end %>

<% if controller_name == "accounts" %>
    <% permitted_to? :index, :transactions do %>
        <li class="active">
        <a href="#" data-toggle="dropdown" class='dropdown-toggle'>
            <span>Accounts</span>
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href='accounts#/index?type=existing_accounts'>Existing accounts</a></li>
          <li><a href='accounts#/index?type=potential_accounts'>Potential Accounts</a></li>
        </ul>
        </li>
    <% end %>
<% else %>
    <% permitted_to? :index, :transactions do %>
        <li>
        <a href="#" data-toggle="dropdown" class='dropdown-toggle'>
            <span>Accounts</span>
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href='accounts#/index?type=existing_accounts'>Existing accounts</a></li>
          <li><a href='accounts#/index?type=potential_accounts'>Potential Accounts</a></li>
        </ul>
        </li>
    <% end %>
<% end %>

