<div id="navigation">
  <div class="container-fluid">
    <%= link_to "CRM", :root, {:id => "brand"} %>
    <ul class='main-nav'>
      <% unless current_user.account_type == 4 %>
          <li>
            <% if current_user.account_type == 2 %>
                <%= link_to("/leads/home/#{current_user.team_leader_id}") do %>
                    <span>Leads</span>
                <% end %>
            <% else %>
                <%= link_to('/leads/home/') do %>
                    <span>Leads</span>
                <% end %>
            <% end %>
          </li>

          <% permitted_to? :index, :crm_transactions do %>
              <li>
                <a href="#" data-toggle="dropdown" class='dropdown-toggle'>
                  <span>Accounts</span>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href='/accounts#/index?type=existing_accounts'>Existing accounts</a></li>
                  <li><a href='/accounts#/index?type=potential_accounts'>Potential Accounts</a></li>
                </ul>
              </li>
          <% end %>

          <% permitted_to? :index, :crm_transactions do %>
              <% if controller_name == "products" || controller_name == "inventory_additions" %>
                  <li>
                    <%= link_to "Products", :products %>
                  </li>
              <% else %>
                  <li>
                    <%= link_to "Products", :products %>
                  </li>
              <% end %>
          <% end %>

          <li>
            <a href="#" data-toggle="dropdown" class='dropdown-toggle'>
              <span>Appointments</span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href='/calendar#/index'>Calendar</a></li>
              <li> <%= link_to "Tasks", :events %> </li>
              <li class="dropdown-submenu">
              <li> <%= link_to "Notifications", {:controller => "notifications", :action => "index", :type => "current"} %> </li>
            </ul>
          </li>

          <% permitted_to? :index, :users do %>
              <li>
                <%= link_to(:users) do %>
                    <span>Users</span>
                <% end %>
              </li>
          <% end %>

          <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Targets<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Targets", :targets %></li>
            </ul>
          </li>
      <% end %>
    </ul>

    <div class="user">
      <ul class="icon-nav">
        <li class="dropdown sett">
          <a href="#" class='dropdown-toggle' data-toggle="dropdown" onclick="notification_fade_out()">
            <i class="icon-cog"></i>
            <span class="label lightred"><%= @lightred_counter %></span>
          </a>
          <ul class="dropdown-menu pull-right">
          </ul>
        </li>
      </ul>
      <div class="dropdown">
        <a href="#" class='dropdown-toggle' data-toggle="dropdown"><%= "#{current_user.first_name} #{current_user.last_name}" %><%= image_tag "#{current_user.avatar.url(:thumb)}" %></a>
        <ul class="dropdown-menu pull-right">
          <li>
            <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
