<div id="navigation">
    <div class="container-fluid">
        <%= link_to "CRM", :root, {:id => "brand"} %>
        <ul class='main-nav'>
            <% unless current_user.account_type == 4 %>
                <% permitted_to? :index, :leads do %>
                    <%= render :partial => "shared/common" %>
                    <%= render :partial => "shared/inventory" %>
                    <%= render :partial => "shared/reports" %>
                    <%= render :partial => "shared/appointments" %>
                    <% if controller_name == "users" %>
                        <% permitted_to? :index, :users do %>
                        <li class='active'>
                            <%= link_to(:users) do %>
                                <span>Users</span>
                            <% end %>
                        </li>
                        <% end %>
                    <% else %>
                        <% permitted_to? :index, :users do %>
                            <li>
                            <%= link_to(:users) do %>
                                <span>Users</span>
                            <% end %>
                            </li>
                        <% end %>
                    <% end %>
                    <%= render :partial => "shared/superuser_menu" %>
                <% end %>
            <% end %>
            <% permitted_to? :index, :transaction_fields do %>
                <%= render :partial => "shared/superuser_top" %>
            <% end %>
        </ul>
        <%= render :partial => "shared/user_menu_right" %>
    </div>
</div>
