<% if controller_name == "leads" %>
    <li class='active'>
    <%= link_to(:leads) do %>
        <span>Leads</span>
    <% end %>
    </li>
<% elsif %>
    <li>
    <%= link_to(:leads) do %>
        <span>Leads</span>
    <% end %>
    </li>
<% end %>

<% if controller_name == "employees" %>
    <% permitted_to? :index, :employees do %>
        <li class="active" >
        <%= link_to(:employees) do %>
            <span>Employees</span>
        <% end %>
        </li>
    <% end %>
<% elsif %>
    <% permitted_to? :index, :employees do %>
        <li>
        <%= link_to(:employees) do %>
            <span>Employees</span>
        <% end %>
        </li>
    <% end %>
<% end %>

<% if controller_name == "contacts" %>
    <li class="active">
    <%= link_to(:contacts) do %>
        <span>Contacts</span>
    <% end %>
    </li>
<% elsif %>
    <li>
    <%= link_to(:contacts) do %>
        <span>Contacts</span>
    <% end %>
    </li>
<% end %>

<% if controller_name == "transactions" %>
    <li class="active">
    <%= link_to(:transactions) do %>
        <span>Transactions</span>
    <% end %>
    </li>
<% elsif %>
    <li>
    <%= link_to(:transactions) do %>
        <span>Transactions</span>
    <% end %>
    </li>
<% end %>

<% if controller_name == "team_leaders" && action_name == "target_forecast" %>
    <li class="active">
    <a href="#" data-toggle="dropdown" class='dropdown-toggle active'>
        <span>Performance</span>
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li>
        <%= link_to "Target forecast", :target_forecast %>
        </li>
    </ul>
    </li>
<% elsif %>
    <li>
    <a href="#" data-toggle="dropdown" class='dropdown-toggle'>
        <span>Performance</span>
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li>
        <%= link_to "Target forecast", :target_forecast %>
        </li>
    </ul>
    </li>
<% end %>


<% if controller_name == "calendar" || controller_name == "events" || controller_name == "notifications" %>
    <li class="active">
    <a href="#" data-toggle="dropdown" class='dropdown-toggle'>
        <span>Appointments</span>
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li> <%= link_to "Calendar", :calendar %> </li>
        <li> <%= link_to "Tasks", :events %> </li>
        <li> <%= link_to "Notifications", :notifications %> </li>
        <li> <%= link_to "Add new notifications", :new_notification %> </li>
    </ul>
    </li>
<% elsif %>
    <li>
    <a href="#" data-toggle="dropdown" class='dropdown-toggle'>
        <span>Appointments</span>
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><%= link_to "Calendar", :calendar %></li>
        <li> <%= link_to "Tasks", :events %> </li>
        <li> <%= link_to "Notifications", :notifications %> </li>
        <li> <%= link_to "Add new notifications", :new_notification %> </li>
    </ul>
    </li>
<% end %>
