<% permitted_to? :index, :activities do %>
    <% if controller_name == "activities" %>
        <li class='active'>
        <%= link_to(:leads) do %>
            <span>Wall</span>
        <% end %>
    <% end %>
    </li>
<% else %>
    <li>
    <% if current_user.account_type == 2 %>
        <%= link_to("/leads/index/#{current_user.team_leader.id}") do %>
            <span>Wall</span>
        <% end %>
    <% else %>
        <%= link_to(:leads) do %>
            <span>Wall</span>
        <% end %>
    <% end %>
    </li>
<% end %>
<% end %>

<% if controller_name == "leads" %>
    <li class='active'>
    <% if current_user.account_type == 2 %>
        <%= link_to("/leads/index/#{current_user.team_leader.id}") do %>
            <span>Leads</span>
        <% end %>
    <% else %>
        <%= link_to(:leads) do %>
            <span>Leads</span>
        <% end %>
    <% end %>
    </li>
<% else %>
    <li>
    <% if current_user.account_type == 2 %>
        <%= link_to("/leads/index/#{current_user.team_leader.id}") do %>
            <span>Leads</span>
        <% end %>
    <% else %>
        <%= link_to(:leads) do %>
            <span>Leads</span>
        <% end %>
    <% end %>
    </li>
<% end %>

<% if controller_name == "contacts" && action_name!= "map_index" %>
    <li class="active">
    <%= link_to(:contacts) do %>
        <span>Contacts</span>
    <% end %>
    </li>
<% elsif %>
    <li>
    <%= link_to(:contacts) do %>
        <span>Contacts</span>
    <% end %>
    </li>
<% end %>

<% permitted_to? :index, :transactions do %>
    <% if controller_name == "transactions" && action_name != "graph" %>
        <li class="active">
        <%= link_to(:transactions) do %>
            <span>Transactions</span>
        <% end %>
        </li>
    <% else %>
        <li>
        <%= link_to(:transactions) do %>
            <span>Transactions</span>
        <% end %>
        </li>
    <% end %>
<% end%>

<% permitted_to? :index, :transactions do %>
    <% if controller_name == "inventories" || controller_name == "inventory_additions" %>
        <li class="active">
        <a href="#" data-toggle="dropdown" class='dropdown-toggle active'>
            <span>Inventory</span>
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
            <%= link_to "Inventory", :inventories %>
            </li>
            <li>
            <%= link_to "Add inventory", :inventory_additions %>
            </li>
        </ul>
        </li>
    <% else %>
        <li>
        <a href="#" data-toggle="dropdown" class='dropdown-toggle active'>
            <span>Inventory</span>
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
            <%= link_to "Inventory", :inventories %>
            </li>
            <li>
            <%= link_to "Add inventory", :inventory_additions %>
            </li>
        </ul>
        </li>
    <% end%>
<% end%>

<% if((controller_name == "transactions" && action_name == "graph")||(controller_name == "contacts" && action_name == "map_index")) %>
    <li class="active">
    <a href="#" data-toggle="dropdown" class='dropdown-toggle active'>
        <span>Reports</span>
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li>
        <%= link_to "Target graph", :target_forecast %>
        </li>
        <li>
        <%= link_to "Transaction graph", :transaction_graph %>
        </li>
        <li>
        <%= link_to "Customer map", :map_index %>
        </li>
    </ul>
    </li>
<% else%>
    <li>
    <a href="#" data-toggle="dropdown" class='dropdown-toggle'>
        <span>Reports</span>
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li>
        <%= link_to "Target graph", :target_forecast %>
        </li>
        <li>
        <%= link_to "Transaction graph", :transaction_graph %>
        </li>
        <li>
        <%= link_to "Customer map", :map_index %>
        </li>
    </ul>
    </li>
<% end %>


<% if controller_name == "calendar" || controller_name == "events" || controller_name == "notifications" %>
    <li class="active">
    <a href="#" data-toggle="dropdown" class='dropdown-toggle'>
        <span>Appointments</span>
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li> <%= link_to "Calendar", :calendar %> </li>
        <li> <%= link_to "Tasks", :events %> </li>
        <li class="dropdown-submenu">
        <a href="#" data-toggle="dropdown" class='dropdown-toggle'> <span>Notifications</span> </a>
        <ul class="dropdown-menu d3">
            <li> <%= link_to "Notification's list", {:controller=>"notifications", :action=>"index", :type=>"current"} %> </li>
            <li> <%= link_to "Add new notifications", :new_notification %> </li>
            <li> <%= link_to "Notifications to all", :notifications_to_all %> </li>
        </ul>
        </li>
    </ul>
    </li>
<% elsif %>
    <li>
    <a href="#" data-toggle="dropdown" class='dropdown-toggle'>
        <span>Appointments</span>
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><%= link_to "Calendar", :calendar %></li>
        <li> <%= link_to "Tasks", :events %> </li>
        <li class="dropdown-submenu">
        <a href="#" data-toggle="dropdown" class='dropdown-toggle'> <span>Notifications</span> </a>
        <ul class="dropdown-menu d3">
            <li> <%= link_to "Notification's list", {:controller=>"notifications", :action=>"index", :type=>"current"} %> </li>
            <li> <%= link_to "Add new notifications", :new_notification %> </li>
            <li> <%= link_to "Notifications to all", :notifications_to_all %> </li>
        </ul>
        </li>
    </ul>
    </li>
<% end %>
