<%= form_for @transaction_field_value, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :transaction_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :transaction_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :transaction_field_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :transaction_field_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :transaction_field_value, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :transaction_field_value, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                transaction_field_values_path, :class => 'btn' %>
  </div>
<% end %>
