<%= nested_form_for @lead, :html => { :class => 'form-horizontal' } do |f| %>

    <div class="control-group leads">
      <%= f.label :executive_type, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :leadable_type, [["Select Lead Owner", ""], ["Team leader", "TeamLeader"], ["Sales executive", "SalesExecutive"]], {}, :class => 'lead_owner' %>
      </div>
    </div>
    <div class="control-group hide team_leaders">
      <%= f.label :executive_name, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :leadable_id, options_for_select(@team_leaders.map{|d| ["#{d.user.first_name} #{d.user.last_name}", d.id]}), { :include_blank => "Select Team Leader" }, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group hide sales_executives">
      <%= f.label :executive_name, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :leadable_id, options_for_select(@sales_executives.map{|d| ["#{d.user.first_name} #{d.user.last_name}", d.id]}), { :include_blank => "Select Sales Executive" }, :class => 'text_field' %>
      </div>
    </div>

   <div class="control-group">
    <%= f.label :lead_title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group-description">
    <%= f.label :lead_description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>

 <%= f.fields_for :leads_products do |leads_products| %>
       <div class="control-group-lead-product">
          <%= leads_products.label :product_name, :class => 'control-label' %>
          <div class="controls">
            <%= leads_products.select :product_id, options_for_select(@products.map{|d| [d.name, d.id]}),{ :selected => "Select Product" }, :class => 'text_field' %>
            <%= leads_products.link_to_remove "Remove this product", :class => 'remove' %>
          </div>
        </div>
       <% end %>
    <%= f.link_to_add "Add a product", :leads_products, :class => 'add' %>


    <%= f.fields_for :follow_ups do |follow_up| %>
        <div class="control-group-lead-follow_up">
          <%= follow_up.label :follow_up_description, :class => 'control-label' %>
          <div class="controls">
            <%= follow_up.text_field :description, :class => 'text_field' %>
          </div>
        </div>
        <div class="control-group-follow-up-time">
          <%= follow_up.label :follow_up_time, :class => 'control-label' %>
          <div class="controls">
            <%= follow_up.text_field :follow_up_time, :class => 'datetime_select' %>
          </div>
        </div>
        <%= follow_up.hidden_field :company_id, :value => current_user.company_id %>
    <% end %>

 <%= f.fields_for :contacts do |contact| %>
        <div class="contact_form">
        <div class="control-group-first_name">
          <%= contact.label :first_name, :class => 'control-label' %>
          <div class="controls">
            <%= contact.text_field :first_name, :class => 'text_field' %>
          </div>
        </div>

        <div class="control-group">
           <%= contact.label :middle_name, :class => 'control-label' %>
           <div class="controls">
            <%= contact.text_field :middle_name, :class => 'text_field' %>
           </div>
        </div>
        <div class="control-group">
            <%= contact.label :last_name, :class => 'control-label' %>
             <div class="controls">
               <%= contact.text_field :last_name, :class => 'text_field' %>
             </div>
        </div>
        <div class="control-group">
          <%= contact.label :address, :class => 'control-label' %>
          <div class="controls">
            <%= contact.text_area :address, :rows => 2, :class => 'text_field' %>
          </div>
        </div>
        <div class="control-group">
            <%= contact.label :mobile_no, :class => 'control-label' %>
            <div class="controls">
                <%= contact.text_field :mobile_no, :class => 'text_field' %>
            </div>
        </div>
        <div class="control-group-landline_no">
            <%= contact.label :landline_no, :class => 'control-label' %>
            <div class="controls">
             <%= contact.text_field :landline_no, :class => 'text_field' %>
             <%= contact.link_to_remove "Remove this contact", :class => 'remove'%>
             </div>
        </div>
        </div>
        <%= contact.hidden_field :company_id, :value => current_user.company_id %>
       <% end %>
    <%= f.link_to_add "Add a contact", :contacts, :class => 'add'%>
 <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                leads_path, :class => 'btn' %>
  </div>
<% end %>

