<%= nested_form_for @lead, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>

<h4>Products</h4>
    <%= f.fields_for :leads_products do |leads_products| %>
        <div class="control-group">
          <%= leads_products.label :product_id, :class => 'control-label' %>
          <div class="controls">
            <%= leads_products.select :product_id, options_for_select(@products.map{|d| [d.name, d.id]}),{ :selected => "Select Product" }, :class => 'text_field' %>
        </div>
        <%= leads_products.link_to_remove "Remove this product" %>
    <% end %>
   <%= f.link_to_add "Add a product", :leads_products %>

<h4>Follow up time</h4>
    <%= f.fields_for :follow_ups do |follow_up| %>
        <div class="control-group">
          <%= follow_up.label :description, :class => 'control-label' %>
          <div class="controls">
            <%= follow_up.text_field :description, :class => 'text_field' %>
          </div>
        </div>
        <div class="control-group">
          <%= follow_up.label :follow_up_time, :class => 'control-label' %>
          <div class="controls">
            <%= follow_up.text_field :follow_up_time, :class => 'datetime_select' %>
          </div>
        </div>
    <% end %>


    <h4>Contact Details</h4>
   <%= f.fields_for :contacts do |contact| %>
        <div class="control-group">
          <%= contact.label :first_name, :class => 'control-label' %>
          <div class="controls">
            <%= contact.text_field :first_name, :class => 'text_field' %>
          </div>
        </div>

        <div class="control-group">
           <%= contact.label :middle_name, :class => 'control-label' %>
           <div class="controls">
            <%= contact.text_field :middle_name, :class => 'text_field' %>
           </div>
        </div>
        <div class="control-group">
            <%= contact.label :last_name, :class => 'control-label' %>
             <div class="controls">
               <%= contact.text_field :last_name, :class => 'text_field' %>
             </div>
        </div>

        <div class="control-group">
            <%= contact.label :address, :class => 'control-label' %><br />
            <div class="controls">
              <%= contact.text_field :address, :class => 'text_field' %>
            </div>
        </div>
        <div class="control-group">
            <%= contact.label :mobile_no, :class => 'control-label' %>
            <div class="controls">
                <%= contact.text_field :mobile_no, :class => 'text_field' %>
            </div>
        </div>
        <div class="control-group">
            <%= contact.label :landline_no, :class => 'control-label' %>
            <div class="controls">
             <%= contact.text_field :landline_no, :class => 'text_field' %>
             </div>
        </div>


        <%= contact.link_to_remove "Remove this contact" %>
   <% end %>
   <p><%= f.link_to_add "Add a contact", :contacts %></p>



  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                leads_path, :class => 'btn' %>
  </div>
<% end %>

