<div id="new-meeting" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">New Event</h3>
    </div>
    <div class="modal-body">
<%= bootstrap_form_for @event, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.text_field :title, :class => 'text_field' %>
  <%= f.text_field :starts_at, :class => 'datetime_select' %>
  <%= f.text_field :ends_at, :class => 'datetime_select' %>
  <div class="control-group">
    <%= f.label :all_day, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :all_day, :class => 'check_box' %>
    </div>
  </div>
    <%= f.text_area :description, :rows => "7", :class => 'text_area' %>


  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary">Save changes</button>
    </div>
</div>
