<div class="page-header">
    <div class="pull-left">
        <h1>Leads</h1>
    </div>
</div>

<% if params[:team_leader].nil? %>
    <div class="control-group">
        <div class="controls">
            Search: <%= text_field_tag :title,"", :class => 'search-c' %>
            <div class="new-top">
                <%= link_to "New", new_lead_path, :class => 'btn btn-primary custom-new-button' %>
            </div>
            <% if session[:sales_executive] == true %>
            <% else %>
                <div class="notification-btn">
                    <%= link_to "Current Leads", {:controller=>"leads", :action=>"index", :type=>"current"}, :class => 'btn btn-primary' %>
                    <%= link_to "Future leads", {:controller=>"leads", :action=>"index", :type=>"future"}, :class => 'btn btn-primary' %>
                    <%= link_to "Matured leads", {:controller=>"leads", :action=>"index", :type=>"matured"}, :class => 'btn btn-primary' %>
                    <%= link_to "Dead leads", {:controller=>"leads", :action=>"index", :type=>"dead"}, :class => 'btn btn-primary' %>
                </div>
            <% end %>
            <% session[:sales_executive] = false %>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Sr.No</th>

                <th>Description</th>
                <th>Lead owner</th>
                <th>Lead source</th>
                <% if params[:type] == "future" %>
                    <th>Reoping date</th>
                <% end %>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="search-data">
            <% render :partial => 'shared/i_calculation' %>
            <% @leads.each do |lead| %>
                <%# if lead.matured_at? %>
                <tr>
                    <td><%= link_to @i = @i+1, lead_path(lead) %></td>

                    <td><%= lead.description %></td>
                    <% unless lead.leadable_id.nil? %>
                        <td><%= raw lead.show_executive%></td>
                    <% else %>
                        <td></td>
                    <% end %>
                    <td><%= lead.get_lead_source%></td>
                    <% if params[:type] == "future" %>
                        <% unless lead.opening_date.nil? %>
                            <td><%= lead.opening_date.strftime('%l:%M%P %d-%b') %></td>
                        <% else %>
                            <td></td>
                        <% end %>
                    <% end %>
                    <td>
                        <%= link_to "Edit", edit_lead_path(lead), :class => 'btn btn-mini' %>
                        <% unless lead.lead_status == "matured" %>
                            <%= link_to "Destroy", lead_path(lead), :method => :delete, :data => { :confirm => "are you sure?"}, :class => 'btn btn-mini btn-danger' %>
                        <% end %>
                        <% unless lead.leadable_id.nil? %>
                            <% unless lead.lead_status == "matured" %>
                                <%= link_to 'Mature lead', {:controller => 'transactions', :action => 'new', :id1 => lead.id, :matured_by => lead.leadable_id, :executive_type => lead.leadable_type}, :class => 'btn btn-mini btn-mature' %>
                            <% end %>
                        <% end %>
                        <% if params[:type] == "current" || params[:type].nil? %>
                            <a href="#" data-target="#new-meeting" class="btn-postpone btn btn-mature btn-mini" onclick="update_reopening_date($(this))" data-toggle="modal" lead_id="<%= lead.id %>" >Postpone</a>
                        <% end %>
                    </td>
                </tr>
                <%# end %>
            <% end %>
        </tbody>
    </table>

    <div class="flickr_pagination">
        <div class="page_info">
            <%= page_entries_info @leads %>
        </div>
        <%= will_paginate @leads, :container => false %>
    </div>
<% end %>

<!-- for team leader -->

<% unless params[:team_leader].nil? %>
    <% unless params[:team_leader].empty? %>
        <% @team_leader = TeamLeader.where(:id => params[:team_leader].to_i).first %>
        <h4>Team Leader- <%= "#{@team_leader.user.first_name} #{@team_leader.user.last_name}" %></h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Sr.No</th>
                    <th>Description</th>
                    <th>Lead owner</th>
                    <th>Lead source</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="search-data">
                <% render :partial => 'shared/i_calculation' %>
                <% @team_leader.leads.each do |lead| %>
                    <tr>
                        <td><%= link_to @i = @i+1, lead_path(lead) %></td>
                        <td><%= lead.description %></td>
                        <% unless lead.leadable_id.nil? %>
                            <td><%= raw lead.show_executive%></td>
                        <% else %>
                            <td></td>
                        <% end %>
                        <td><%= lead.get_lead_source%></td>
                        <td>
                            <%= link_to "Edit", edit_lead_path(lead), :class => 'btn btn-mini' %>
                            <%= link_to "Destroy", lead_path(lead), :method => :delete, :data => { :confirm => "are you sure?"}, :class => 'btn btn-mini btn-danger' %>
                            <%= link_to 'Mature lead', {:controller => 'transactions', :action => 'new', :id1 => lead.id, :matured_by => lead.leadable_id, :executive_type => lead.leadable_type}, :class => 'btn btn-mini btn-mature' %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>

        <!-- sales_executives -->
        <% @team = TeamLeader.where(:id => params[:team_leader].to_i).first.sales_executives.each do |executive| %>
            <h4>Executive- <%= "#{executive.user.first_name} #{executive.user.last_name}" %></h4>
            <% if executive.leads.first.nil? %>
                <b>No Leads</b>
            <% else %>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Description</th>
                            <th>Lead owner</th>
                            <th>Lead source</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% render :partial => 'shared/i_calculation' %>
                        <% executive.leads.each do |lead| %>
                            <tr>
                                <td><%= link_to @i = @i+1, lead_path(lead) %></td>

                                <td><%= lead.description %></td>
                                <% unless lead.leadable_id.nil? %>
                                    <td><%= raw lead.show_executive%></td>
                                <% else %>
                                    <td></td>
                                <% end %>
                                <td><%= lead.get_lead_source%></td>
                                <td>
                                    <%= link_to "Edit", edit_lead_path(lead), :class => 'btn btn-mini' %>
                                    <%= link_to "Destroy", lead_path(lead), :method => :delete, :data => { :confirm => "are you sure?"}, :class => 'btn btn-mini btn-danger' %>
                                    <%= link_to 'Mature lead', {:controller => 'transactions', :action => 'new', :id1 => lead.id, :matured_by => lead.leadable_id, :executive_type => lead.leadable_type}, :class => 'btn btn-mini btn-mature' %>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            <% end %>
        <% end %>
    <% end %>
<% end %>

<%= render :partial => "leads/postpone" %>
