<% @i = 0 %>
<% @leads.each do |lead| %>
    <tr>
        <td><%= @i = @i+1 %></td>

        <td><%= lead.description %></td>
        <td><%= lead.leadable_id %></td>

        <td>
            <%= link_to "Edit" , edit_lead_path(lead), :class => 'btn btn-mini' %>
            <%= link_to "Destroy", contact_path(lead), :method => :delete,
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-mini btn-danger' %>
            </td>
        </tr>
    <% end %>
