<%- model_class = Lead -%>
<div class="page-header">
    <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
    <% unless @lead.contacts.empty? %>
        <h4><%= @lead.contacts.first.full_name %> - Company_name</h4>
    <% end %>
    <dt><strong>Lead owner :</strong></dt>
    <% unless @lead.leadable.nil? %>
        <dd><b class="lead-owner-show"><%= @lead.leadable.user.full_name %></b><a href="#" data-target="#change-owner" class="" data-toggle="modal"> Change</a></dd>
<% else %>
        <dd><b class="lead-owner-show">No executive assigned</b><a href="#" data-target="#change-owner" class="" data-toggle="modal"> Change</a></dd>
<% end %>
    <dt><strong> Description :</strong></dt>
    <dd><%= @lead.description %></dd>
    <dt><strong> Phone number :</strong></dt>
    <% unless @lead.contacts.empty? %>
        <dd><%= @lead.contacts.first.landline_no %></dd>
    <% end %>
    <dt><strong> Mobile number :</strong></dt>
    <% unless @lead.contacts.empty? %>
        <dd><%= @lead.contacts.first.mobile_no %></dd>
    <% end %>
    <dt><strong> Lead status :</strong></dt>
    <% unless @lead.contacts.empty? %>
        <dd><%= @lead.contacts.first.mobile_no %></dd>
    <% end %>
</dl>

<div><h6>Products</h6></div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Products</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody id="search-data">
        <% @lead.product_transactions.each do |pt| %>
            <tr>
                <td><%= pt.product.name %></td>
                <td><%= pt.quantity %></td>
                <td><%= pt.price %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<div><h6>Closed Meetings</h6></div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Meeting with</th>
            <th>starts at</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody id="search-data">
        <% @lead_events.each do |event| %>
            <% if event.starts_at.to_date < Date.today %>
                <tr>
                    <td><%= event.title %></td>
                    <% if event.contact.nil? %>
                        <td></td>
                    <% else %>
                        <td><%= event.contact.full_name %></td>
                    <% end %>
                    <td><%= event.starts_at.strftime("%I:%M%P  %d-%b-%Y") %></td>
                    <td><%#= event.ends_at.strftime("%I:%M%P  %d-%b-%Y") %></td>
                    <td><%= event.description %></td>
                </tr>
            <% end %>
        <% end %>
    </tbody>
</table>

<div><h6>Upcoming Meetings</h6></div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Meeting with</th>
            <th>starts at</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="events-data">
        <% @lead_events.each do |event| %>
            <% if event.starts_at.to_date >= Date.today %>
                <tr>
                    <td><%= event.title %></td>
                    <% if event.contact.nil? %>
                        <td></td>
                    <% else %>
                        <td><%= event.contact.full_name %></td>
                    <% end %>
                    <td><%= event.starts_at.strftime("%I:%M%P  %d-%b-%Y") %></td>
                    <%#= event.ends_at.strftime("%I:%M%P  %d-%b-%Y") %>
                    <td><%= event.description %></td>
                    <td>
                        <%= link_to "Edit", edit_event_path(event), :class => 'btn btn-mini' %>
                    </td>
                </tr>
            <% end %>
        <% end %>
    </tbody>
</table>
<div class="leads_new_button">
    <a href="#" data-target="#new-meeting" class="btn btn-mature" data-toggle="modal">New meeting</a>
</div>

<div><h6>Call logs</h6></div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Subject</th>
            <th>Call result</th>
            <th>Call type</th>
            <th>Call purpose</th>
            <th>Call start time</th>
            <th>Call duration</th>
            <th>Call by</th>
            <th>Call to</th>
        </tr>
    </thead>
    <tbody id="call-log-data">
        <% @call_logs.each do |call_log| %>
            <tr>
                <td><%= call_log.subject %></td>
                <td><%= call_log.call_result %></td>
                <td><%= call_log.call_type %></td>
                <td><%= call_log.call_purpose %></td>
                <td><%= call_log.call_start_time.strftime('%l:%M%P %d-%b')%></td>
                <td><%= call_log.call_duration %></td>
                <td><%= call_log.call_by%></td>
                <td><%= call_log.contact.full_name %></td>
            </tr>
        <% end %>
    </tbody>
</table>
<div class="leads_new_button">
    <a href="#" data-target="#call-log" class="btn btn-mature" data-toggle="modal">New call log</a>
</div>

<div><h6>Emails/SMS</h6></div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>SMS</th>
            <th>Email</th>
            <th>Sending time</th>
            <th>Body</th>
            <th>Content</th>
            <th>Modified at</th>
        </tr>
    </thead>
    <tbody id="notifications-data">
        <% unless @lead.contacts.empty? %>
            <% @lead_notifications.each do |notification| %>
                <tr>
                    <td><%= notification.check_if_sms %></td>
                    <td><%= notification.check_if_email %></td>
                    <td><%= notification.notification_time.strftime('%l:%M%P  %d-%b') %></td>
                    <td></td>
                    <td><%= notification.body %></td>
                    <td><%= notification.updated_at.strftime('%l:%M%P %d-%b') %></td>
                </tr>
            <% end %>
        <% end %>
    </tbody>
</table>

<div class="leads_new_button">
    <a href="#" data-target="#new-notification" class="btn btn-mature" data-toggle="modal">New Notification</a>
</div>

<div class="form-actions">
    <%= link_to t('.back', :default => t("helpers.links.back")), leads_path, :class => 'btn'  %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_lead_path(@lead), :class => 'btn' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")), lead_path(@lead), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger' %>
</div>

<%= render :partial => "leads/new_event_modal" %>
<%= render :partial => "leads/new_notification_modal" %>
<%= render :partial => "leads/new_call_log_modal" %>
<%= render :partial => "leads/new_owner_modal" %>
