<%= javascript_include_tag "jquery-ui-1.10.2.custom.min.js" %>
<%= stylesheet_link_tag "jquery-ui-1.10.2.custom.min.css" %>
<%= javascript_include_tag "jquery-ui-timepicker-addon.js" %>
<%= stylesheet_link_tag "jquery-ui-timepicker-addon.css" %>
<%= javascript_include_tag "jquery-ui-sliderAccess.js" %>
<div class="page-header">
    <h1>Tasks</h1>
</div>
<%= render :partial => 'form' %>
<script>
    $('.datetime_select').datetimepicker({
        dateFormat: 'yy-mm-dd',
        timeFormat: 'hh:mm tt z'
    });
</script>
