<h1>Listing partial_payments</h1>

<table>
  <tr>
    <th>Amount paid</th>
    <th>Transaction</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @partial_payments.each do |partial_payment| %>
  <tr>
    <td><%= partial_payment.amount_paid %></td>
    <td><%= partial_payment.transaction_id %></td>
    <td><%= link_to 'Show', partial_payment %></td>
    <td><%= link_to 'Edit', edit_partial_payment_path(partial_payment) %></td>
    <td><%= link_to 'Destroy', partial_payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Partial payment', new_partial_payment_path %>
