<%= form_for @contact, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :first_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :first_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :middle_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :middle_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :last_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :mobile_no, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :mobile_no, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :landline_no, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :landline_no, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :contact_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :contact_type, [["Select Contact Type", "Select Contact Type"], ["Lead", "Lead"], ["Existing Customer", "Existing Customer"]],{:selected => "Select Contact Type", :disabled => "Select Contact Type" }, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
      <label class="control-label">Select tags</label>
      <div class="controls">
          <%= text_field_tag "viek","", :id => "ms1", :name => "ms1", :class => "text_field" %>
      </div>
  </div>

  <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
          contacts_path, :class => 'btn' %>
      </div>
  <% end %>

  <script>
      $(document).ready(function() {
          var jsonData = [];
          var tags = '<%= Tag.first.tag_list_string %>'.split(',');
          for(var i=0;i<tags.length;i++) jsonData.push({id:i,name:tags[i]});
          var ms1 = $('#ms1').magicSuggest({
              data: jsonData,
              sortOrder: 'name',
              value: [0],
              selectionPosition: 'right',
              groupBy: 'status',
              maxDropHeight: 200
          });
      });
  </script>







