<%= stylesheet_link_tag 'gmaps4rails' %>

<table>
  <tr>
  </tr>
  <% if @contacts %>
    <% @contacts.each do |contact| %>
      <tr>
      </tr>
    <% end %>
  <% end %>
</table>
<div>
<%= gmaps4rails(@json) %>
</div>
<%= javascript_include_tag "gmaps4rails/gmaps4rails.base" %>
<%= javascript_include_tag "gmaps4rails/gmaps4rails.googlemaps" %>
<%= javascript_include_tag "gmaps4rails/gmaps4rails.base" %>
<%= javascript_include_tag "gmaps4rails/gmaps4rails.bing" %>
<%= javascript_include_tag "gmaps4rails/gmaps4rails.mapquest" %>
<%= javascript_include_tag "gmaps4rails/gmaps4rails.openlayers" %>

<%= yield :scripts %>


