<%= nested_form_for @transaction, :html => { :class => 'form-horizontal' } do |f| %>

    <div class="control-group existing_contact">
        <%= f.label :accounts, :class => 'control-label' %>
        <div class="controls">
            <% if params[:matured_by].nil? %>
                <%= f.select :account_id, options_for_select(@company.accounts.map{|c|[c.account_name, c.id]}),{:include_blank => ""}, {:class => 'account_select', :"data-placeholder" => 'Select an account'} %>
            <% else %>
                <% @account = Account.where(:lead_id => @lead.id).first %>
                <%= @account.account_name %>
                <%= f.hidden_field :account_id, :value => @account.id %>
            <% end %>
        </div>
    </div>

    <%= f.fields_for :product_transactions do |pt| %>
        <div class="control-group product">
            <%= pt.label :products, :class => 'control-label' %>
            <div class="controls">
                <%= pt.hidden_field :lead_id, :value => pt.object.lead_id%>
                <%= pt.select :product_id, options_for_select(@company.products.map{|p|[p.name, p.id]},pt.object.product_id),{:include_blank => ""},{:class => 'product_transaction_new', :"data-placeholder" => 'Select a product'} %>
                Quantity
                <%= pt.text_field :quantity, :class=>'text_field quantity span1' %>
                Price
                <%= pt.text_field :price, :class=>'text_field product_price span1' %>
                <b class="sub-total">0</b>
                <%= pt.link_to_remove "Remove this product", :class => 'remove' %>
            </div>
        </div>
    <% end %>
    <%= f.link_to_add "Add a product", :product_transactions, :class => 'add transaction-product' %>

    <div class="control-group">
        <%= f.label :payment_type, :class => 'control-label' %>
        <div class="controls">
            <%= f.select :transaction_type, [["Select Payment Type", 0], ["Cash", "Cash"], ["Cheque", "Cheque"]], {:selected => 0, :disabled => 0},:class => 'contact_type' %>
        </div>
    </div>

    <div class="control-group amount">
        <%= f.label :amount, :class => 'control-label' %>
        <div class="controls">
            <div class='amount_field'><b>0</b></div>
            <%= f.hidden_field :amount, :class => 'amount_hidden' %>
        </div>
    </div>

    <%= f.fields_for :partial_payments do |pp| %>
        <div class="control-group product">
        <%= pp.label :amount_paid, :class => 'control-label' %>
            <div class="controls">
                <%= pp.text_field :amount_paid, :class=>'text_field quantity' %>
            </div>
        </div>
    <% end %>

    <div class="control-group hide micr_code">
        <%= f.label :micr_code, :class => 'control-label' %>
        <div class="controls">
            <%= f.text_field :micr_code, :class => 'text_field' %>
        </div>
    </div>

    <div class="control-group">
        <%= f.label :transaction_time, :class => 'control-label' %>
        <div class="controls">
            <%= f.text_field :transaction_time, :class => 'datetime_select' %>
        </div>
    </div>

    <div class="form-actions">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            transactions_path, :class => 'btn' %>
        </div>
    <% end %>
