<div class="page-header">
    <h1>Transactions</h1>
</div>
<% session[:errors] = "" %>
<% unless session[:errors].empty? %>
    <div class="alert"><%= session[:errors] %></div>
<% end %>
<% session[:errors] = "" %>
<%= form_tag "/transactions/mature/#{params[:id1]}/#{params[:matured_by]}/#{params[:executive_type]}", :class => 'form-horizontal' do %>

    <%= hidden_field_tag :contact_id, params[:id1] %>
    <div class="control-group">
        <label class ="control-label">Contact name </label>
        <div class="controls fixed_contact">
            <b><%= Contact.find(params[:id1]).full_name %></b>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Transaction Type</label>
        <div class="controls">
            <%= select_tag :transaction_type, options_for_select([["Select Contact Type", 0], ["Cash", "Cash"], ["Cheque", "Cheque"]],0), :class => 'contact_type' %>
        </div>
    </div>

    <div class="control-group hide micr_code">
        <label class ="control-label">MICR code</label>
        <div class="controls">
            <%= text_field_tag :micr_code,"", :class => 'text_field' %>
        </div>
    </div>

    <div class="control-group hide amount">
        <label class ="control-label">Amount</label>
        <div class="controls">
            <%= text_field_tag :amount,"", :class => 'text_field' %>
        </div>
    </div>
    <div class="control-group">
        <label class ="control-label">Transaction Time</label>
        <div class="controls">
            <%= text_field_tag :transaction_time,'', :class => 'datetime_select' %>
        </div>
    </div>

    <div class="form-actions">
        <%= submit_tag nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")), transactions_path, :class => 'btn' %>
    </div>
<% end %>
