<div class="login-body">
    <h2>SIGN IN</h2>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <div class="control-group">
        <div class="email controls">
            <%= f.email_field :email, :autofocus => true, :class => "input-block-level", :placeholder => "Email address" %>
        </div>
        <div class="pw controls">
            <%= f.password_field :password, :placeholder => "password", :class => "input-block-level",%>
        </div>
        <div class="submit">
            <%= f.submit "Sign in", :class => "btn btn-primary"  %>
        </div>
        </div>
    <% end %>
    <div class ="forget" >
        <%= render "devise/shared/links" %>
    </div>
</div>
