<%= stylesheet_link_tag "pagination.css" %>
<%- model_class = Transaction -%>
<div class="page-header">
    <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<div class="control-group">
    <div class="controls">
        Search: <%= text_field_tag :title,"", :class => 'search-c' %>
        <div class="new-top">
            <%= link_to "New", new_transaction_path, :class => 'btn btn-primary custom-new-button' %>
        </div>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>id</th>
            <th>Contact id</th>
            <th>Amount</th>
            <th>Transaction time</th>
            <% @i = 0 %>
            <% @transaction_fields.each do |tf| %>
                <th><%= tf.field_name %></th>
            <% end %>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @transactions.each do |transaction| %>
            <tr>
                <td><%= link_to @i = @i+1, transaction_path(transaction) %></td>
                <td><%= Contact.where(:id => transaction.contact_id).first.full_name %></td>
                <td><%= transaction.amount %></td>
                <td><%= transaction.transaction_time %></td>
                <% @transaction_field_values = transaction.transaction_field_values %>
                <% unless @transaction_field_values.empty? %>
                    <% @transaction_field_values.each do |tf_value| %>
                        <td><%= tf_value.transaction_field_value %></td>
                    <% end %>
                <% else %>
                    <% @transaction_fields.each do |tf| %>
                        <td>-</td>
                    <% end %>
                <% end %>

                <td>
                    <%= link_to 'Edit', edit_transaction_path(transaction), :class => 'btn btn-mini' %>
                    <%= link_to 'Destroy', transaction_path(transaction), :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger' %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
<div class="flickr_pagination">
  <div class="page_info">
    <%= page_entries_info @transactions %>
  </div>
  <%= will_paginate @transactions, :container => false %>
</div>


<script type="text/javascript">
        $(document).ready(function(){
                $('.tTip').betterTooltip({speed: 150, delay: 300});
                });

$('.search-c').searchbox({
url: '/lead_search.html',
param: 'q',
dom_id: '#search-data',
delay: 100,
})
</script>


