<%= bootstrap_form_for @product, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.text_field :name, :class => 'text_field' %>
  <%= f.text_field :min_cost, :class => 'text_field' %>
  <%= f.text_field :max_cost, :class => 'text_field' %>
  <%= f.text_area :description, :class => 'text_field', :rows => 4 %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                products_path, :class => 'btn' %>
  </div>
<% end %>
