<%= stylesheet_link_tag "pagination.css" %>

<%- model_class = Product -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Sr.No</th>
      <th>Name</th>
      <th>Min Cost</th>
      <th>Max Cost</th>
      <th>Inventory</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each_with_index do |product, i| %>
      <tr>
        <td><%= link_to i=i+1, product_path(product) %></td>
        <td><%= product.name %></td>
        <td><%= product.min_cost %></td>
        <td><%= product.max_cost %></td>
        <td><%= product.quantity %></td>
        <td><%= product.description %></td>
      <td>
          <%= link_to 'Add', new_product_inventory_addition_path(product), :class => 'btn btn-primary' %>
          <%= link_to 'Edit', edit_product_path(product), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', product_path(product), :method => :delete, :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_product_path,
            :class => 'btn btn-primary' %>

<div class="flickr_pagination">
  <div class="page_info">
    <%= page_entries_info @products %>
  </div>
  <%= will_paginate @products, :container => false %>
</div>


