<%= nested_form_for @crm_customer, :html => { :class => 'form-horizontal' } do |f| %>
    <div class="control-group">
        <%= f.label :first_name, :class => 'control-label' %>
        <div class="controls">
            <%= f.text_field :first_name, :class => 'text_field' %>
        </div>
    </div>
    <div class="control-group">
        <%= f.label :middle_name, :class => 'control-label' %>
        <div class="controls">
            <%= f.text_field :middle_name, :class => 'text_field' %>
        </div>
    </div>
    <div class="control-group">
        <%= f.label :last_name, :class => 'control-label' %>
        <div class="controls">
            <%= f.text_field :last_name, :class => 'text_field' %>
        </div>
    </div>
    <div class="control-group">
        <%= f.label :address, :class => 'control-label' %>
        <div class="controls">
            <%= f.text_field :address, :class => 'text_field' %>
        </div>
    </div>
    <div class="control-group">
        <%= f.label :amount_paid, :class => 'control-label' %>
        <div class="controls">
            <%= f.text_field :amount_paid, :class => 'text_field' %>
        </div>
    </div>
    <div class="control-group">
        <%= f.label :customer_type, :class => 'control-label' %>
        <div class="controls">
            <%= f.select :customer_type, [['Business to businesses','B2B'],['Business to customers','B2C']] %>
        </div>
    </div>
    <div class="control-group">
        <%= f.label :subscription_start, :class => 'control-label' %>
        <div class="controls">
            <%= f.date_select :subscription_start, :class => 'date_select' %>
        </div>
    </div>
    <div class="control-group">
        <%= f.label :subscription_ends, :class => 'control-label' %>
        <div class="controls">
            <%= f.date_select :subscription_ends, :class => 'date_select' %>
        </div>
    </div>

    <%= f.fields_for :company do |company| %>
        <div class="control-group">
            <%= company.label :company_name, :class => 'control-label' %>
            <div class="controls">
                <%= company.text_field :company_name, :class => 'text_field' %>
            </div>
        </div>
        <div class="control-group">
            <%= company.label :company_address, :class => 'control-label' %>
            <div class="controls">
                <%= company.text_field :company_address, :class => 'text_field' %>
            </div>
        </div>
        <div class="control-group">
            <%= company.label :contact_number1, :class => 'control-label' %>
            <div class="controls">
                <%= company.text_field :contact_number1, :class => 'text_field' %>
            </div>
        </div>
        <div class="control-group">
            <%= company.label :contact_number2, :class => 'control-label' %>
            <div class="controls">
                <%= company.text_field :contact_number2, :class => 'text_field' %>
            </div>
        </div>
    <% end %>

    <div class="form-actions">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            crm_customers_path, :class => 'btn' %>
        </div>
    <% end %>
