<div class="page-header">
  <h4 class="show-header">Account details</h4>
  <hr>
</div>

<dl class="dl-horizontal">
  <dt><strong>Account owner:</strong></dt>
  <dd><%= Contact.where(:id => @account.account_owner).first.full_name %></dd>
  <dt><strong>Account name:</strong></dt>
  <dd><%= @account.account_name %></dd>
  <dt><strong>Number of employees:</strong></dt>
  <dd><%= @account.number_of_employees %></dd>
  <dt><strong>Phone number:</strong></dt>
  <dd><%= @account.phone_number %></dd>
  <dt><strong>Website:</strong></dt>
  <dd><%= @account.website %></dd>
  <dt><strong>Ownership type:</strong></dt>
  <dd><%= @account.ownership_type %></dd>
  <dt><strong>Billing address:</strong></dt>
  <dd><%= @account.billing_address %></dd>
  <dt><strong>Shipping address:</strong></dt>
  <dd><%= @account.shipping_address %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")), accounts_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_account_path(@account), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")), account_path(@account), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger' %>
</div>

  <h4 class="show-header">Account Contacts</h4>
  <hr>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Sr.No</th>
                <th>Contact name</th>
                <th>Address</th>
                <th>Mobile number</th>
                <th>Phone number</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
          <% @contacts.each_with_index do |contact, i| %>
              <tr>
                  <td><%= link_to i, contact_path(contact) %></td>
                  <td><%= contact.full_name %></td>
                  <td><%= contact.address %></td>
                  <td><%= contact.mobile_no %></td>
                  <td><%= contact.landline_no %></td>
                  <td>
                      <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_contact_path(contact), :class => 'btn btn-mini' %>
                      <%= link_to t('.destroy', :default => t("helpers.links.destroy")), contact_path(contact), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger' %>
                  </td>
              </tr>
          <% end %>
        </tbody>
    </table>
<div class="leads_new_button">
    <a href="#" data-target="#new-contact" class="btn btn-mature" data-toggle="modal">New contact</a>
</div>

    <h4 class="show-header">Previous Transactions </h4>
    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Sr.No</th>
                <th>Amount</th>
                <th>Transaction time</th>
                <% @i = 0 %>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% @transactions.each do |transaction| %>
                <tr>
                    <td><%= link_to transaction.id, transaction_path(transaction) %></td>
                    <td><%= transaction.amount %></td>
                    <td><%= transaction.transaction_time.strftime('%l:%M%P  %d-%b-%Y') %></td>

                    <td>
                        <%= link_to 'Edit', edit_transaction_path(transaction), :class => 'btn btn-mini' %>
                        <%= link_to 'Destroy', transaction_path(transaction), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger' %>
                        <%= link_to 'Invoice', {:controller => "transactions", :action => "invoice", :id => transaction.id, :format => 'pdf'}, :class => 'btn btn-mini btn-mature' %>
                        <a href="#"  rel="popover" class="reply"
                            data-content="<table class='table table-striped'>
                                                <thead>
                                                    <tr>
                                                       <th>product</th>
                                                       <th>price</th>
                                                       <th>quantity</th>
                                                    </tr>
                                                </thead>
                                              <tbody>
                                                <% pt = transaction.product_transactions %>
                                                <% pt.each do |product_transaction| %>
                                                <tr>
                                                   <td><%= product_transaction.product.name %></td>
                                                   <td><%= product_transaction.price %></td>
                                                   <td><%= product_transaction.quantity%></td>
                                                </tr>
                                                <% end %>
                                              </tbody>
                                            </table>"
                         data-html="true" data-original-title="Product Transaction Details" ><div class="btn btn-mini">Details</div></a>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
<div class="leads_new_button">
    <a href="#" data-target="#call-log" class="btn btn-mature" data-toggle="modal">New order</a>
</div>

<%= render :partial => "accounts/new_transaction_modal" %>
<%= render :partial => "accounts/new_contact_modal" %>
